*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}
input{
    font-size: larger;
    width: 10vh;
    height: 10vh;
    text-align: center;
    
}
button{
    width: 10vh;
    height: 5vh;
    background-color: red;
    color: white;
}